{#
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.3 - 2015
*
* This Version called "OpenWebsoccer" is a advanced modifikation
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
#}
{% if OPEN_WEBSOCCER is defined %}
{% extends "base.twig" %}
{% block page_title %}
	{{ i18n.getMessage("cancellation_title") }}
{% endblock %}
{% block page_content %}
	<p>{{ i18n.getMessage("cancellation_intro") }}</p>
	<p><a href="#cancelModal" role="button" data-toggle="modal" class="btn btn-primary">{{ i18n.getMessage("cancellation_button") }}</a></p>
	<div id="cancelModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
		<div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">ߗ</button>
			<h3 id="cancelModalLabel">{{ i18n.getMessage("cancellation_modal_title") }}</h3>
		</div>
		<div class="modal-body">
			<p>{{ i18n.getMessage("cancellation_modal_content") }}</p>
		</div>
		<div class="modal-footer">
			<a href="{{ env.getInternalActionUrl("disable-account") }}" class="btn btn-primary">{{ i18n.getMessage("cancellation_modal_confirm") }}</a>
			<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ i18n.getMessage("button_cancel") }}</a>
		</div>
	</div>
{% endblock %}
{% endif %}
