{#
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.4-Snapshot vom 21. Juni 2015
*
* This Version called "OpenWebsoccer" is a advanced modifikation
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
#}
<div class="ajaxLoadedBlock" id="matchReportRefresh" data-ajaxblock="shoutbox" data-ajaxquerystr="id={{ env.getRequestParameter("id") }}" data-refreshperiod="15">
	<h4 class="colour"> {{ i18n.getMessage('shoutbox_title') }}</h4>
	[Heute, {{ "now"|date("H:i", "Europe/Berlin") }}]
	<br><br>
	{% for message in messages %}
		<div>
			{% if env.user.isAdmin() %}<a href="#" class="ajaxLink" data-ajaxtarget="shoutbox_block" data-ajaxblock="shoutbox" data-ajaxquerystr="id={{ env.getRequestParameter("id") }}&action=delete-shoutbox-message&mid={{ message.message_id }}" title="{{ i18n.getMessage("button_delete") }}"><i class="icon-trash"></i></a>
			{% endif %}
			<small class="muted" style="font-size: 9px;">[{{ env.getFormattedDatetime(message.date, i18n) }}] <a href="{{ env.getInternalUrl("match", "id=" ~ message.match_id) }}" class="muted">{{ message.home_name }} - {{ message.guest_name }}</a></small>
			<br>
			<a href="{{ env.getInternalUrl("user", "id=" ~ message.user_id) }}">{{ message.user_name }}</a>: {{ message.message }}
		</div>
	{% endfor %}
</div>