{% extends "box.twig" %}

{% block box_content %}

{% if env.user.id and (hidesubmit is not defined or not hidesubmit) %}
<form class="form form-inline" method="post">
	<input type="hidden" name="action" value="send-shoutbox-msg"/>
	<input type="hidden" name="block" value="shoutbox"/>
	<input type="hidden" name="id" value="{{ env.getRequestParameter("id") }}"/>

	<input class="span3" id="msgtext" name="msgtext" type="text" placeholder="{{ i18n.getMessage("shoutbox_messageinput_placeholder") }}" required="true"
		value="{% if validationMsg["msgtext"] is defined %}{{ env.getRequestParameter("msgtext") }}{% endif %}">
	<input type="submit" class="btn ajaxSubmit"
		data-ajaxtarget="shoutbox_block" data-messagetarget="shoutboxvalmessages" value="{{ i18n.getMessage("shoutbox_button_go") }}"/>

	{% if validationMsg["msgtext"] is defined %}<p class="text-error">{{ validationMsg["msgtext"] }}</p>{% endif %}
</form>
{% else %}
	<p><small>{{ i18n.getMessage('shoutbox_hiddensubmit_note') }}</small></p>
{% endif %}

{% endblock %}
