{#
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.4-Snapshot vom 21. Juni 2015
*
* This Version called "OpenWebsoccer" is a advanced modifikation
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
#}
<h4>{{ i18n.getMessage("nationalmatches_nextmatch_title") }}</h4>
<p><em>{{ env.getFormattedDatetime(match.date) }} | {{ i18n.getMessage("option_" ~ match.type) }}</em></p>
<p><strong><a href="{{ env.getInternalUrl("team", "id=" ~ match.home_id) }}">{{ match.home_team }}</a>
	-
	<a href="{{ env.getInternalUrl("team", "id=" ~ match.guest_id) }}">{{ match.guest_team }}</a>
	</strong></p>
<p><a href="{{ env.getInternalUrl("match", "id=" ~ match.id) }}" class="btn">{{ i18n.getMessage("match_navlabel") }}</a>
<a href="{{ env.getInternalUrl("formation", "nationalteam=1&id=" ~ match.id) }}" class="btn">{{ i18n.getMessage("formation_navlabel") }}</a></p>