{#
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.3 - 2015
*
* This Version called "OpenWebsoccer" is a advanced modifikation
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
#}
{% if OPEN_WEBSOCCER is defined %}
{% extends "base.twig" %}
{% import "formelements.twig" as formelements %}
{% block page_title %}
	{{ i18n.getMessage("transfer_bid_title", player.player_firstname ~ " " ~ player.player_lastname) }}
{% endblock %}
{% block page_content %}
	<h3>{{ i18n.getMessage("transfermarket_head_deadline") }}:
	<span class="countdown" data-date="{{ player.transfer_end|date("Y/m/d H:i:s") }}">
		<span id="days"></span>{{ i18n.getMessage("transfermarket_countdown_days") }},
		<span id="hours"></span>:<span id="minutes"></span>:<span id="seconds"></span>
	</span>
	</h3>
	<p>{{ env.getFormattedDatetime(player.transfer_end) }}</p>
	<h3>{{ i18n.getMessage("transfer_bid_playerinfo") }}</h3>
	<dl class="dl-horizontal">
		<dt>{{ i18n.getMessage("entity_player_transfer_mindestgebot") }}</dt>
		<dd>{{ player.transfer_min_bid|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}</dd>
		<dt>{{ i18n.getMessage("entity_player_marktwert") }}</dt>
		<dd>{{ player.player_marketvalue|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}</dd>
		<dt>{{ i18n.getMessage("entity_player_vertrag_gehalt") }}</dt>
		<dd>{{ player.player_contract_salary|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}</dd>
		<dt>{{ i18n.getMessage("entity_player_vertrag_torpraemie") }}</dt>
		<dd>{{ player.player_contract_goalbonus|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}</dd>
		<dt>{{ i18n.getMessage("entity_player_vertrag_spiele") }}</dt>
		<dd>{{ player.player_contract_matches }} {{ i18n.getMessage("player_details_unit_matches") }}</dd>
	</dl>
	<p style="margin-top: 30px;"><i class="icon-arrow-right"></i> <a href="{{ env.getInternalUrl("player", "id=" ~ player.player_id) }}">{{ i18n.getMessage("extend-contract_link_profile") }}</a></p>
	<div id="bidmessages">
		{% block messages_block %}
			{{ parent() }}
		{% endblock %}
	</div>
{% endblock %}
{% endif %}