{#
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation,either version 3 of
* the License,or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful,but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not,see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.4-Snapshot vom 21. Juni 2015
*
* This Version called "OpenWebsoccer" is a advanced modifikation
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
#}
{% embed "page.twig" %}
{% block youth_matches %}
	{% block page_title %}
		{{ i18n.getMessage("youthmatches_title") }}
	{% endblock %}
	{% block page_content %}
		{% set bild = '/img/youthmatches.png' %}{% if file_exists('img/youthmatches.png') %}<br>{% if cdnset %}<img src="{{ cdn }}{{ bild }}"/><br><br>{% else %}<img src="{{ root }}{{ bild }}"/><br><br>{% endif %}{% endif %}
		{% if matches is defined and matches|length > 0 %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ i18n.getMessage("entity_youthmatch_matchdate") }}</th>
						<th>{{ i18n.getMessage("entity_youthmatch_home_team_id") }}</th>
						<th>{{ i18n.getMessage("entity_youthmatch_guest_team_id") }}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for match in matches %}
						<tr>
							<td>{{ env.getFormattedDatetime(match.date,i18n) }}</td>
							<td>
								{% if match.home_team_picture|length %}
									{% if env.getConfig("cdn_root_set") %}
										<img src="{{ env.getConfig("cdn_root") }}/uploads/club/{{ match.home_team_picture }}" style="max-width: 20px"/>
									{% else %}
										<img src="{{ env.getConfig("context_root") }}/uploads/club/{{ match.home_team_picture }}" style="max-width: 20px"/>
									{% endif %}
								{% endif %}
								<a href="{{ env.getInternalUrl("team","id=" ~ match.home_id) }}">{{ match.home_team }}</a>
								{% if match.home_user_id > 0 %}
									<br>
									{% if match.home_user_picture|length > 0 %}
										<a href="{{ env.getInternalUrl("user","id=" ~ match.home_user_id) }}"><img src="{{ match.home_user_picture }}" style="width: 20px; height: 20px"/></a>
									{% endif %}
									<small><a href="{{ env.getInternalUrl("user","id=" ~ match.home_user_id) }}">{{ match.home_user_nick }}</a></small>
								{% endif %}
							</td>
							<td>
								{% if match.guest_team_picture|length %}
									{% if env.getConfig("cdn_root_set") %}
										<img src="{{ env.getConfig("cdn_root") }}/uploads/club/{{ match.guest_team_picture }}" style="max-width: 20px"/>
									{% else %}
										<img src="{{ env.getConfig("context_root") }}/uploads/club/{{ match.guest_team_picture }}" style="max-width: 20px"/>
									{% endif %}
								{% endif %}
								<a href="{{ env.getInternalUrl("team","id=" ~ match.guest_id) }}">{{ match.guest_team }}</a>
								{% if match.guest_user_id > 0 %}
									<br>
									{% if match.guest_user_picture|length > 0 %}
										<a href="{{ env.getInternalUrl("user","id=" ~ match.guest_user_id) }}"><img src="{{ match.guest_user_picture }}" style="width: 20px; height: 20px"/></a>
									{% endif %}
									<small><a href="{{ env.getInternalUrl("user","id=" ~ match.guest_user_id) }}">{{ match.guest_user_nick }}</a></small>
								{% endif %}
							</td>
							<td>
								{% if match.simulated == 1 %}
									<a href="{{ env.getInternalUrl("youth-match","id=" ~ match.match_id) }}" title="{{ i18n.getMessage("match_navlabel") }}">{{ match.home_goals }} - {{ match.guest_goals }}</a>
								{% else %}
									<a href="{{ env.getInternalUrl("youth-formation","matchid=" ~ match.match_id) }}" class="btn btn-small"><i class="icon-sitemap"></i> {{ i18n.getMessage("formation_navlabel") }}</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{{ pagination.paginator(paginator) }}
		{% else %}
			{{ macro.box(i18n.getMessage("youthmatches_no_matches"),"","info") }}
		{% endif %}
	{% endblock %}
{% endblock %}
{% endembed %}