{#
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation,either version 3 of
* the License,or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful,but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not,see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.4-Snapshot vom 21. Juni 2015
*
* This Version called "OpenWebsoccer" is a advanced modifikation
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
#}
{% import "macro.twig" as macro %}
{% block match_substitutions %}
	{% if env.getConfig("sim_allow_offensivechanges") > 0 %}
		{{ macro.textfield('offensive',i18n.getMessage('formation_offensive_title'),offensive,true,validationMsg,'number',i18n.getMessage("match_details_changes_max_help",env.getConfig("sim_allow_offensivechanges"))) }}
		{{ macro.checkbox("longpasses",i18n.getMessage("formation_option_longpasses"),longpasses,false,validationMsg) }}
		{{ macro.checkbox("counterattacks",i18n.getMessage("formation_option_counterattacks"),counterattacks,false,validationMsg) }}
	{% endif %}
	{% if players.bench is defined and players.bench|length > 0 %}
		<table class="table">
			<thead>
				<tr>
					<th>{{ i18n.getMessage("formation_substitutions_out") }} / {{ i18n.getMessage("formation_substitutions_in") }}</th>
					<th>{{ i18n.getMessage("formation_substitutions_minute") }}</th>
				</tr>
			</thead>
			<tbody>
				{% for subsNo in [1,2,3] %}
					{% set disabledState = (substitutions[subsNo].minute > 0 and substitutions[subsNo].minute <= match.match_minutes) %}
					<tr>
						<td>
							<p>
								<label for="sub{{ subsNo }}_out"></label>
									<select class="sub_out_select" id="sub{{ subsNo }}_out" name="sub{{ subsNo }}_out" {% if disabledState %} disabled{% endif %}>
										<option value="0">{{ i18n.getMessage("formation_substitutions_out") }}</option>
										{% for player in players.field %}
											<option value="{{ player.id }}"{% if substitutions[subsNo].out == player.id %} selected{% endif %}>{{ player.name ({{ i18n.getMessage("option_" ~ player.position) }})</option>
										{% endfor %}
									</select>
							</p>
							<p>
									<label for="sub{{ subsNo }}_in" name="sub{{ subsNo }}_in" {% if disabledState %} disabled{% endif %}>
									<option value="0">{{ i18n.getMessage("formation_substitutions_in") }}</option>
									{% for player in players.bench %}
										<option value="{{ player.id }}" {% if substitutions[subsNo].in== player.id %} selected{% endif %}>{{ player.name }} ({{ i18n.getMessage("option_" ~ player.position) }})</option>
									{% endfor %}
									</select>
							</p>
							<p>
									<select id="sub{{ subsNo }}_condition" name="sub{{ subsNo }}_condition" {% if disabledState %} disabled{% endif %}>
										<option value="">{{ i18n.getMessage("formation_substitutions_condition_none") }}</option>
										<option value="Tie" {% if substitutions[subsNo].condition== "Tie" %} selected{% endif %}>{{ i18n.getMessage("formation_substitutions_condition_tie") }}</option>
										<option value="Leading" {% if substitutions[subsNo].condition== "Leading" %} selected{% endif %}>{{ i18n.getMessage("formation_substitutions_condition_leading") }}</option>
										<option value="Deficit" {% if substitutions[subsNo].condition== "Deficit" %} selected{% endif %}>{{ i18n.getMessage("formation_substitutions_condition_deficit") }}</option>
									</select>
							</p>
						</td>
						<td>
									<input class="input-mini" type="number" id="sub{{ subsNo }}_minute" name="sub{{ subsNo }}_minute" value="{% if substitutions[subsNo].minute > 0 %}{{ substitutions[subsNo].minute}}{% endif %}">
								</label>
								<label for="sub{{ subsNo }}_in"></label><select class="sub_in_select" id="sub{{ subsNo }}_in" name="sub{{ subsNo }}_in"{% if disabledState %} disabled{% endif %}>
								<option value="0">{{ i18n.getMessage("formation_substitutions_in") }}</option>
								{% for player in players.bench %}
									<option value="{{ player.id }}"{% if substitutions[subsNo].in == player.id %} selected{% endif %}>{{ player.name }} ({{ i18n.getMessage("option_" ~ player.position) }})</option>
								{% endfor %}
								</select></p>
							<p>
								<label for="sub{{ subsNo }}_condition"></label><select id="sub{{ subsNo }}_condition" name="sub{{ subsNo }}_condition"{% if disabledState %} disabled{% endif %}>
								<option value="">{{ i18n.getMessage("formation_substitutions_condition_none") }}</option>
								<option value="Tie"{% if substitutions[subsNo].condition == "Tie" %} selected{% endif %}>{{ i18n.getMessage("formation_substitutions_condition_tie") }}</option>
								<option value="Leading"{% if substitutions[subsNo].condition == "Leading" %} selected{% endif %}>{{ i18n.getMessage("formation_substitutions_condition_leading") }}</option>
								<option value="Deficit"{% if substitutions[subsNo].condition == "Deficit" %} selected{% endif %}>{{ i18n.getMessage("formation_substitutions_condition_deficit") }}</option>
								</select>
							</p>
						</td>
						<td>
							<label for="sub{{ subsNo }}_minute"></label>
							<input class="input-mini" type="number" id="sub{{ subsNo }}_minute" name="sub{{ subsNo }}_minute" value="{% if substitutions[subsNo].minute > 0 %}{{ substitutions[subsNo].minute}}{% endif %}"
							{% if disabledState %} disabled{% endif %}/>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>{{ i18n.getMessage("match_details_no_players_on_bench") }}</p>
	{% endif %}
{% endblock %}