{% macro infofield(label, value, doNotEscape = false) %}

	{% block stylesheets %}
		<style type="text/css">
			.inforow {
				margin-top: 10px;
			}
			.infolabel {
				font-weight: bold;
				background-image:url({{env.getConfig("bild_hintergrund")}});background-repeat:no-repeat;
				padding: 8px;
				border-radius: 4px;
			}
			.infovalue {
				padding: 8px;
			}
			.alert-info {
				background-color: #FF0000;
				border-color: #FF0000;
				color: #FFFFFF;
}
		</style>
	{% endblock %}

	<div class="row-fluid inforow">
		<div class="span6 infolabel">{% if doNotEscape %}{{ label|raw }}{% else %}{{ label }}{% endif %}</div>
		<div class="span6 infovalue">{% if doNotEscape %}{{ value|raw }}{% else %}{{ value }}{% endif %}</div>
	</div>

{% endmacro %}
