{#
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.4-Snapshot vom 21. Juni 2015
*
* This Version called "OpenWebsoccer" is a advanced modifikation
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
#}
{% if OPEN_WEBSOCCER is defined %}
{% import "statisticelements.twig" as statisticelements %}
<div class="row-fluid">
	<h3>{{ i18n.getMessage("match_details_statistic_shoots") }}</h3><b> {{ homeStatistics.shoots }} - {{ guestStatistics.shoots }}</b>
	<h3>{{ i18n.getMessage("match_details_statistic_tackles") }}</h3>
	{% if homeStatistics.passes_successed > 0 or homeStatistics.passes_failed > 0 %}
		{% set homePasses = (homeStatistics.wontackles  * 100 / (homeStatistics.wontackles + guestStatistics.wontackles))|number_format %}
		{{ match.match_home_name }}
		{{ statisticelements.progressbar(homePasses) }}
	{% endif %}
	{% if guestStatistics.passes_successed > 0 or guestStatistics.passes_failed > 0 %}
		{% set guestPasses = (guestStatistics.wontackles * 100 / (homeStatistics.wontackles + guestStatistics.wontackles))|number_format %}
		{{ match.match_guest_name }}
		{{ statisticelements.progressbar(guestPasses) }}
	{% endif %}
	<h3>{{ i18n.getMessage("match_details_statistic_successfulpasses") }}</h3>
	{% if homeStatistics.passes_successed > 0 or homeStatistics.passes_failed > 0 %}
		{% set homePasses = (homeStatistics.ballcontacts  * 100 / (homeStatistics.ballcontacts + guestStatistics.ballcontacts))|number_format %}
		{{ match.match_home_name }}
		{{ statisticelements.progressbar(homePasses) }}
	{% endif %}
	{% if guestStatistics.passes_successed > 0 or guestStatistics.passes_failed > 0 %}
		{% set guestPasses = (guestStatistics.ballcontacts * 100 / (homeStatistics.ballcontacts + guestStatistics.ballcontacts))|number_format %}
		{{ match.match_guest_name }}
		{{ statisticelements.progressbar(guestPasses) }}
	{% endif %}
	<h3>{{ i18n.getMessage("match_details_statistic_ballcontacts") }}</h3>
	{% if homeStatistics.passes_successed > 0 or homeStatistics.passes_failed > 0 %}
		{% set homePasses = (homeStatistics.passes_successed * 100 / (homeStatistics.passes_successed + guestStatistics.passes_successed))|number_format %}
		{% set homePasses = (homePasses + (homeStatistics.passes_failed   * 100 / (homeStatistics.passes_failed + guestStatistics.passes_failed)))|number_format /2 %}
		{{ match.match_home_name }}
		{{ statisticelements.progressbar(homePasses) }}
	{% endif %}
	{% if guestStatistics.passes_successed > 0 or guestStatistics.passes_failed > 0 %}
		{% set guestPasses = (guestStatistics.passes_successed * 100 / (homeStatistics.passes_successed + guestStatistics.passes_successed))|number_format %}
		{% set guestPasses = (guestPasses + (guestStatistics.passes_failed * 100 / (homeStatistics.passes_failed + guestStatistics.passes_failed)))|number_format /2 %}
		{{ match.match_guest_name }}
		{{ statisticelements.progressbar(guestPasses) }}
	{% endif %}
</div>
{% endif %}
