{#
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.4-Snapshot vom 21. Juni 2015
*
* This Version called "OpenWebsoccer" is a advanced modifikation
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
#}
{% if OPEN_WEBSOCCER is defined %}
{% block box_content %}
	{% import "messagebox.twig" as messagebox %}
	{% import "paginator.twig" as pagination %}
	{% if matches is defined and matches|length > 0 %}
	{% for match in matches %}
		{% if online == 0 %}
				{% if match.simulated == 0 and match.minutes is null %}
	{% set online = 1 %}
	<div class="box">
	<h4 class="colour"> {{ i18n.getMessage('matches_today_title') }}</h4>
		<h6 class="colour"><b>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>{{ i18n.getMessage("entity_match_datum") }}</th>
					<th>{{ i18n.getMessage("entity_match_home_verein") }}</th>
					<th>{{ i18n.getMessage("entity_match_gast_verein") }}</th>
					<th>{{ i18n.getMessage("match_result") }}</th>
				</tr>
			</thead>
			{% endif %}
			{% endif %}
			{% endfor %}
			<tbody>
				{% for match in matches %}
					{% if match.simulated == 0 and match.minutes is null %}
					<tr>
						<td>
							{% if match.type == "Ligaspiel" %}
								<i class="icon-shield wstooltip" title="{{ i18n.getMessage("option_Ligaspiel") }}"></i>
							{% elseif match.type == "Freundschaft" %}
								<i class="icon-smile wstooltip" title="{{ i18n.getMessage("option_Freundschaft") }}"></i>
							{% else %}
								<i class="icon-trophy wstooltip" title="{{ i18n.getMessage("option_Pokalspiel") }} ({{ match.cup_name }}, {{ match.cup_round }})"></i>
							{% endif %}
							{{ env.getFormattedDatetime(match.date, i18n) }}
						</td>
						<td>
							{% if match_home_formation_id %}
								<i class="icon-check-sign wstooltip" title="{{ i18n.getMessage("formation_submitted_tooltip") }}"></i>
							{% else %}
								{# <i class="icon-minus-sign-alt wstooltip" title="{{ i18n.getMessage("formation_notsubmitted_tooltip") }}"></i> #}
							{% endif %}
							{% if match.home_team_picture|length %}
								{% if env.getConfig("cdn_root_set") %}
									<img src="{{ env.getConfig("cdn_root") }}/uploads/club/{{ match.home_team_picture }}" style="max-width: 20px;"/>
								{% else %}
								<img src="{{ env.getConfig("context_root") }}/uploads/club/{{ match.home_team_picture }}" style="max-width: 20px;"/>
								{% endif %}
							{% endif %}
							<a href="{{ env.getInternalUrl("team", "id=" ~ match.home_id) }}">{{ match.home_team }}</a>
							{% if match.home_noformation %}
								<i class="icon-bolt wstooltip" title="{{ i18n.getMessage("match_details_noformation", match.home_team) }}"></i>
							{% endif %}
							{% if match.home_user_id > 0 %}
								<br>
								{% if match.home_user_picture|length > 0 %}
									<a href="{{ env.getInternalUrl("user", "id=" ~ match.home_user_id) }}"><img src="{{ match.home_user_picture }}" style="width: 20px; height: 20px;"/></a>
								{% endif %}
								<small><a href="{{ env.getInternalUrl("user", "id=" ~ match.home_user_id) }}">{{ match.home_user_nick }}</a></small>
							{% endif %}
						</td>
						<td>
							{% if match_guest_formation_id %}
								<i class="icon-check-sign wstooltip" title="{{ i18n.getMessage("formation_submitted_tooltip") }}"></i>
							{% else %}
								{# <i class="icon-minus-sign-alt wstooltip" title="{{ i18n.getMessage("formation_notsubmitted_tooltip") }}"></i> #}
							{% endif %}
							{% if match.guest_team_picture|length %}
								{% if env.getConfig("cdn_root_set") %}
									<img src="{{ env.getConfig("cdn_root") }}/uploads/club/{{ match.guest_team_picture }}" style="max-width: 20px;"/>
								{% else %}
									<img src="{{ env.getConfig("context_root") }}/uploads/club/{{ match.guest_team_picture }}" style="max-width: 20px;"/>
								{% endif %}
							{% endif %}
							<a href="{{ env.getInternalUrl("team", "id=" ~ match.guest_id) }}">{{ match.guest_team }}</a>
							{% if match.guest_noformation %}
								<i class="icon-bolt wstooltip" title="{{ i18n.getMessage("match_details_noformation", match.guest_team) }}"></i>
							{% endif %}
							{% if match.guest_user_id > 0 %}
								<br>
								{% if match.guest_user_picture|length > 0 %}
									<a href="{{ env.getInternalUrl("user", "id=" ~ match.guest_user_id) }}"><img src="{{ match.guest_user_picture }}" style="width: 20px; height: 20px;"/></a>
								{% endif %}
								<small><a href="{{ env.getInternalUrl("user", "id=" ~ match.guest_user_id) }}">{{ match.guest_user_nick }}</a></small>
							{% endif %}
						</td>
						<td>
							<a href="{{ env.getInternalUrl("match", "id=" ~ match.id) }}" title="{{ i18n.getMessage("match_navlabel") }}">
							{% if match.simulated == 1 %}
								{{ match.home_goals }} - {{ match.guest_goals }}
							{% elseif match.minutes > 0 %}
								<i class="icon-fire" title="{{ i18n.getMessage("match_live_label") }}"></i> {{ match.home_goals }} - {{ match.guest_goals }}
							{% else %}
								{{ i18n.getMessage("match_navlabel") }}
							{% endif %}
							</a>
						</td>
					</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
		{% if paginator is defined and paginator is not null %}
			{{ pagination.paginator(paginator) }}
		{% endif %}
	{% endif %}
				</b>
{% endblock %}
{% endif %}
