{#
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.4-Snapshot vom 21. Juni 2015
*
* This Version called "OpenWebsoccer" is a advanced modifikation
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
#}
{% if OPEN_WEBSOCCER is defined %}
<!DOCTYPE html>
<html>
	<head>
		<style>
			{% block stylesheets %}
				{% include 'css.twig' %}
			{% endblock %}
		</style>
		<title>{% block browser_title %}{{ block("page_title") }} - {{ env.getConfig("projectname") }}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% if env.getRequestParameter("id") != null %}
			{% set url = env.getInternalUrl(null, "id=" ~ env.getRequestParameter("id"), TRUE) %}
		{% else %}
			{% set url = env.getInternalUrl(null, null, TRUE) %}
		{% endif %}
		<link rel="canonical" href="{{ url }}"/>
		{% for cssSource in skin.getCssSources() %}
		<link href="{{ cssSource }}" media="all" rel="stylesheet" type="text/css" />
		{% endfor %}
		{% if cssReferences is defined %}
			{% for cssSource in cssReferences %}
				{% if env.getConfig("cdn_root_set") %}
					<link href="{{ env.getConfig("cdn_root") }}/css/{{ cssSource }}" media="all" rel="stylesheet" type="text/css" />
				{% else %}
					<link href="{{ env.getConfig("context_root") }}/css/{{ cssSource }}" media="all" rel="stylesheet" type="text/css" />
				{% endif %}
			{% endfor %}
		{% endif %}
		{% if env.getConfig("cdn_root_set") %}
			<link rel="shortcut icon" type="image/x-icon" href="{{ env.getConfig("cdn_root") }}/favicon.ico" />
		{% else %}
			<link rel="shortcut icon" type="image/x-icon" href="{{ env.getConfig("context_root") }}/favicon.ico" />
		{% endif %}
		{% if env.getConfig("facebook_on") %}
			{% if env.getConfig("facebook_appid") %}
				<meta property="fb:app_id" content="{{ env.getConfig("facebook_appid") }}"/>
			{% endif %}
		{% endif %}
		{{ env.getConfig("head_code")|raw }}
	</head>
	<body>
		{% block navigation %}
		{% include 'navigationbar.twig' %}
		{% endblock %}
		<div class="container">
			{% block page_header %}
			{% endblock %}
			{% block page_columns %}
			<div class="row"">
				<div class="span7" id="contentArea">
					<div class="box">
						{% include 'breadcrumb.twig' %}
						<div class="page-header">
						<h1>{{ block("page_title") }}</h1>
						</div>
						<div id="messages">
						{% block messages_block %}
						{{ viewHandler.renderBlock("messagesblock")|raw }}
						{% endblock %}
						</div>
						<div id="pagecontent">
						{% if blocks.content_top is defined %}
							{% for uiBlock in blocks.content_top %}
								<div id="{{ uiBlock.id }}_block">
								{{ viewHandler.renderBlock(uiBlock.id, uiBlock)|raw }}
								</div>
							{% endfor %}
						{% endif %}
						{{ block("page_content") }}
						{% if blocks.content_bottom is defined %}
							{% for uiBlock in blocks.content_bottom %}
								<div id="{{ uiBlock.id }}_block">
								{{ viewHandler.renderBlock(uiBlock.id, uiBlock)|raw }}
								</div>
							{% endfor %}
						{% endif %}
						</div>
					</div>
				</div>
				<div class="span4">
					<div id="profile">
						{% if blocks.sidebar is defined %}
						{% endif %}
					</div>
					{% if blocks.sidebar is defined %}
						{% for uiBlock in blocks.sidebar %}
						{% if not block('userprofile_block') %}
							<div id="{{ uiBlock.id }}_block">
							{{ viewHandler.renderBlock(uiBlock.id, uiBlock)|raw }}
							</div>
							{% endif %}
						{% endfor %}
					{% endif %}
				</div>
			</div>
			{% endblock %}
			<br><br>
			<footer>
				<div id="footer">
					<small>
						{% if env.getConfig("footerlinkoben1")|length > 0 %}<a href="{{ env.getConfig("footerlinkoben1") }}" target="_blank">{{ env.getConfig("footerlinkoben1txt") }}</a>{% endif %}
						{% if env.getConfig("footerlinkoben2")|length > 0 %} | <a href="{{ env.getConfig("footerlinkoben2") }}" target="_blank">{{ env.getConfig("footerlinkoben2txt") }}</a>{% endif %}
						{% if env.getConfig("footerlinkoben3")|length > 0 %} | <a href="{{ env.getConfig("footerlinkoben3") }}" target="_blank">{{ env.getConfig("footerlinkoben3txt") }}</a>{% endif %}<br>
						<a href="{{ env.getInternalUrl("termsandconditions") }}">{{ i18n.getMessage("termsandconditions_navlabel") }}</a>
						{% if env.getConfig("privacypolicy_url")|length > 0 %}<a href="{{ env.getConfig("privacypolicy_url") }}">{{ i18n.getMessage("privacypolicy_navlabel") }}</a>{% endif %}
						| <a href="{{ env.getInternalUrl("imprint") }}">{{ i18n.getMessage("imprint_navlabel") }}</a>
						<a href="https://github.com/rolfjoseph/OpenWebsoccer" target="_blank"><b>OpenWebsoccer {{ source('build.txt', ignore_missing = true) }}</b> by Rolf Joseph/ErdemCan</a> ( <a href="https://github.com/ihofmann/open-websoccer" target="_blank">Base by Ingo Hofmann )</a> |
						{% if env.getConfig("footerlinkrechts")|length > 0 %}<a href="{{ env.getConfig("footerlinkrechts") }}" target="_blank">{{ env.getConfig("footerlinkrechtstxt") }}</a>{% endif %}<br>
						{% if env.getConfig("footerlinkunten1")|length > 0 %}<a href="{{ env.getConfig("footerlinkunten1") }}" target="_blank">{{ env.getConfig("footerlinkunten1txt") }}</a>{% endif %}
						{% if env.getConfig("footerlinkunten2")|length > 0 %} | <a href="{{ env.getConfig("footerlinkunten2") }}" target="_blank">{{ env.getConfig("footerlinkunten2txt") }}</a>{% endif %}
						{% if env.getConfig("footerlinkunten3")|length > 0 %} | <a href="{{ env.getConfig("footerlinkunten3") }}" target="_blank">{{ env.getConfig("footerlinkunten3txt") }}</a>{% endif %}
					 </small>
				</div>
			</footer>
		</div>
		<div id="ajaxLoaderPage"></div>
		{% for jsSource in skin.getJavaScriptSources() %}
			<script src="{{ jsSource }}" ></script>
		{% endfor %}
		{% if scriptReferences is defined %}
			{% for jsSource in scriptReferences %}
			{% if env.getConfig("cdn_root_set") %}
				<script src="{{ env.getConfig("cdn_root") }}/js/{{ jsSource }}" ></script>
			{% else %}
				<script src="{{ env.getConfig("context_root") }}/js/{{ jsSource }}" ></script>
			{% endif %}
			{% endfor %}
		{% endif %}
	</body>
</html>
{% endif %}
