{#
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.4-Snapshot vom 21. Juni 2015
*
* This Version called "OpenWebsoccer" is a advanced modifikation
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
#}
{% if OPEN_WEBSOCCER is defined %}
{% macro paginator(paginatorModel, ajaxTarget = "pagecontent") %}
	{% if paginatorModel.pages > 1 %}
		<div class="pagination">
			<ul>
				{% if paginatorModel.pageNo > 1 %}
					<li>
						<a href="#p{{ paginatorModel.pageNo - 1 }}" class="ajaxLink" data-ajaxtarget="{{ ajaxTarget }}" data-ajaxquerystr="page={{ env.getPageId() }}&{{ paginatorModel.getQueryString() }}&pageno={{ paginatorModel.pageNo - 1 }}">&laquo;</a>
					</li>
				{% endif %}
				{% for pageNo in 1..paginatorModel.pages %}
					{% if pageNo == paginatorModel.pageNo - 5 or pageNo == paginatorModel.pageNo + 5  %}
						<li class="disabled"><a>...</a></li>
					{% elseif pageNo == 1 or pageNo == paginatorModel.pages or pageNo > paginatorModel.pageNo - 5 and pageNo < paginatorModel.pageNo + 5 %}
						<li{% if pageNo == paginatorModel.pageNo %} class="active"{% endif %}><a href="#p{{ pageNo }}"
						class="ajaxLink" data-ajaxtarget="{{ ajaxTarget }}" data-ajaxquerystr="page={{ env.getPageId() }}&{{ paginatorModel.getQueryString() }}&pageno={{ pageNo }}">{{ pageNo }}</a></li>
					{% endif %}
				{% endfor %}
				{% if paginatorModel.pageNo < paginatorModel.pages %}
					<li><a href="#{{ paginatorModel.pageNo + 1 }}"
 					class="ajaxLink" data-ajaxtarget="{{ ajaxTarget }}" data-ajaxquerystr="page={{ env.getPageId() }}&{{ paginatorModel.getQueryString() }}&pageno={{ paginatorModel.pageNo + 1 }}">&raquo;</a></li>
				{% endif %}
			</ul>
		</div>
	{% endif %}
{% endmacro %}
{% endif %}
