{#
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation,either version 3 of
* the License,or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful,but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not,see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.4-Snapshot vom 21. Juni 2015
*
* This Version called "OpenWebsoccer" is a advanced modifikation
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
#}
{% import "macro.twig" as macro %}
{% block teamplayers %}
	{% if players is defined and players|length > 0 %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th><abbr title="{{ i18n.getMessage("playertable_head_position") }}">{{ i18n.getMessage("playertable_head_position_abbr") }}</abbr></th>
					<th>{{ i18n.getMessage("playertable_head_name") }}</th>
					<th><abbr title="{{ i18n.getMessage("playertable_head_nationality") }}">{{ i18n.getMessage("playertable_head_nationality_abbr") }}</abbr></th>
					{% if env.getConfig("hide_strength_attributes") != "1" %}
						<th><abbr title="{{ i18n.getMessage("playertable_head_strength") }}">{{ i18n.getMessage("playertable_head_strength_abbr") }}</abbr></th>
						<th><abbr title="{{ i18n.getMessage("playertable_head_strength_technic") }}">{{ i18n.getMessage("playertable_head_strength_technic_abbr") }}</abbr></th>
						<th><abbr title="{{ i18n.getMessage("playertable_head_strength_stamina") }}">{{ i18n.getMessage("playertable_head_strength_stamina_abbr") }}</abbr></th>
						<th><abbr title="{{ i18n.getMessage("playertable_head_strength_freshness") }}">{{ i18n.getMessage("playertable_head_strength_freshness_abbr") }}</abbr></th>
						<th><abbr title="{{ i18n.getMessage("playertable_head_strength_satisfaction") }}">{{ i18n.getMessage("playertable_head_strength_satisfaction_abbr") }}</abbr></th>
					{% endif %}
					{% if env.getConfig("hide_market_values") != "1" %}
						<th><abbr title="{{ i18n.getMessage("playertable_head_market_value_abbr") }} ">{{ i18n.getMessage("playertable_head_market_value_abbr") }}</abbr></th>
					{% endif %}
					<th>{{ i18n.getMessage("playertable_head_age") }}</th>
					<th>{{ i18n.getMessage("playertable_head_blocked") }}</th>
					<th>{{ i18n.getMessage("playertable_head_contract") }}</th>
				</tr>
			</thead>
			<tbody>
				{% for player in players %}
					{{ macro.teamlistItem(player) }}
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>{{ i18n.getMessage("no_players_found") }}</p>
	{% endif %}
{% endblock %}