{#
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.4-Snapshot vom 21. Juni 2015
*
* This Version called "OpenWebsoccer" is a advanced modifikation
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
#}
{% extends "base.twig" %}
{% block page_title %}
	{{ i18n.getMessage("leagues_title") }}
{% endblock %}
{% block page_content %}
	<form class="form-inline" method="post">
		<label class="control-label" for="country">{{ i18n.getMessage("entity_league_land") }}</label>
		<select id="country" name="country">
			<option></option>
			{% for country in countries %}
				<option value="{{ country.name }}">{{ country.name }} ({{ country.noOfLeagues }})</option>
			{% endfor %}
		</select>
		<button type="submit" class="btn btn-primary ajaxSubmit" data-ajaxtarget="leagues-selection" data-ajaxblock="leagues-selection">{{ i18n.getMessage('button_display') }}</button>
		<input type="hidden" name="page" value="leagues" />
	</form>
	<div id="leagues-selection"></div>
{% endblock %}