{#
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation,either version 3 of
* the License,or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful,but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not,see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.4-Snapshot vom 21. Juni 2015
*
* This Version called "OpenWebsoccer" is a advanced modifikation
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
#}
{% macro item(pageId,label,isActive) %}
	<li role="menuitem"{% if isActive %} class="active"{% endif %}><a href="{{ env.getInternalUrl(pageId) }}">{{ label }}</a></li>
{% endmacro %}
{% import _self as navitemTemplate %}
<navbar>
	<div id="navbar">
		<div class="navbar navbar-fixed-top">
			<div class="container">
				<a data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				</a>
				<div class="nav-collapse collapse">
					<ul class="nav" role="menu">
						{% for navItem in navItems %}
							{% if navItem.children|length > 0 %}
								<li role="menuitem" class="dropdown{% if navItem.isActive %}  active{% endif %}">
									<a class="dropdown-toggle" id="label{{ navItem.pageId }}" role="button"	data-toggle="dropdown" href="#">
								   		{{ navItem.label }} <b class="caret"></b>
									</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="label{{ navItem.pageId }}">
										{{ navitemTemplate.item(navItem.pageId,navItem.label,false) }}
										{% for navChild in navItem.children %}
											{{ navitemTemplate.item(navChild.pageId,navChild.label,navChild.isActive) }}
										{% endfor %}
									</ul>
								</li>
								{% else %}
									{{ navitemTemplate.item(navItem.pageId,navItem.label,navItem.isActive) }}
								{% endif %}
						{% endfor %}
						<li role="menuitem"><a href="{{ env.getConfig("context_root") }}?page=login&action=logout">Logout</a>
						<li role="menuitem"><a href="{{ env.getConfig("externlink1") }}" target="_blank">{{ env.getConfig("externlink1txt") }}</a>
						<li role="menuitem"><a href="{{ env.getConfig("externlink2") }}" target="_blank">{{ env.getConfig("externlink2txt") }}</a>
						<li role="menuitem"><a href="{{ env.getConfig("externlink3") }}" target="_blank">{{ env.getConfig("externlink3txt") }}</a>
					</ul>
				</div>
			</div>
		</div>
	</div>
</navbar>
