{#
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.4-Snapshot vom 21. Juni 2015
*
* This Version called "OpenWebsoccer" is a advanced modifikation
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
#}
{% if OPEN_WEBSOCCER is defined %}
{% extends "box.twig" %}
{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.languageswitcher {
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: center;
		}
		.languageswitcher li {
			display: inline;
			padding-right: 20px;
		}
	</style>
{% endblock %}
{% block box_title %}
	<h4 class="colour"> {{ i18n.getMessage('langswitcher_block_title') }}</h4>
{% endblock %}
{% block box_content %}
	<ul class="languageswitcher">
		{% for language in i18n.supportedLanguages %}
			<li><a href="{{ env.getInternalActionUrl("switch-language", "lang=" ~ language ~ "&id=" ~ env.getRequestParameter("id")) }}"><img src="{{ skin.getImage("flags/" ~ language ~ ".png") }}" width="24" height="24" alt="{{ i18n.getMessage('lang_label_' ~ language) }}" title="{{ i18n.getMessage('lang_label_' ~ language) }}"/></a></li>
		{% endfor %}
	</ul>
{% endblock %}
{% endif %}
