{#
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.3 - 2015
*
* This Version called "OpenWebsoccer" is a advanced modifikation
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
#}
{% if OPEN_WEBSOCCER is defined %}
{% import "paginator.twig" as pagination %}
{% import "profileelements.twig" as profile %}
{% import "messagebox.twig" as messagebox %}
{% extends "base.twig" %}
{% block page_title %}
	{{ i18n.getMessage("sponsor_navlabel") }}
{% endblock %}
{% block page_content %}
	{# show current sponsor details #}
	{% if sponsor is defined and sponsor|length > 0 %}
		{% if sponsor.picture|length > 0 %}
			<div style="text-align: center; margin-bottom: 10px;">
				{% if env.getConfig("cdn_root_set") %}
					<img src="{{ env.getConfig("cdn_root") }}/uploads/sponsor/{{ sponsor.picture }}" class="img-rounded">
				{% else %}
					<img src="{{ env.getConfig("context_root") }}/uploads/sponsor/{{ sponsor.picture }}" class="img-rounded">
				{% endif %}
			</div>
		{% endif %}
		{{ profile.infofield(i18n.getMessage("entity_sponsor_name"), sponsor.name) }}
		{{ profile.infofield(i18n.getMessage("entity_sponsor_b_spiel"), sponsor.amount_match|number_format(0, ',', ' ') ~ " " ~ env.getConfig("game_currency")) }}
		{{ profile.infofield(i18n.getMessage("entity_sponsor_b_heimzuschlag"), sponsor.amount_home_bonus|number_format(0, ',', ' ') ~ " " ~ env.getConfig("game_currency")) }}
		{{ profile.infofield(i18n.getMessage("entity_sponsor_b_sieg"), sponsor.amount_win|number_format(0, ',', ' ') ~ " " ~ env.getConfig("game_currency")) }}
		{{ profile.infofield(i18n.getMessage("entity_sponsor_b_meisterschaft"), sponsor.amount_championship|number_format(0, ',', ' ') ~ " " ~ env.getConfig("game_currency")) }}
		{{ profile.infofield(i18n.getMessage("entity_club_sponsor_spiele"), sponsor.matchdays) }}
		{# choose sponsor #}
	{% else %}
		{% if teamMatchday < env.getConfig("sponsor_earliest_matchday") %}
			{{ messagebox.box(i18n.getMessage("sponsor_choose_tooearly", env.getConfig("sponsor_earliest_matchday")), "", "warning") }}
		{% else %}
			<p style="margin-top: 10px; margin-bottom: 20px;">{{ i18n.getMessage('sponsor_contractduraction_info', env.getConfig("sponsor_matches")) }}</p>
			{% if sponsors|length > 0 %}
				<table class="table table-striped">
					<thead>
						<tr>
							<th>{{ i18n.getMessage("entity_sponsor_name") }}</th>
							<th>{{ i18n.getMessage("entity_sponsor_b_spiel") }}</th>
							<th>{{ i18n.getMessage("entity_sponsor_b_heimzuschlag") }}</th>
							<th>{{ i18n.getMessage("entity_sponsor_b_sieg") }}</th>
							<th>{{ i18n.getMessage("entity_sponsor_b_meisterschaft") }}</th>
						</tr>
					</thead>
					<tbody>
						{% for sponsor in sponsors %}
							<tr>
								<td>
									<p>{{ sponsor.name }}</p>
									<p><a href="#" class="btn ajaxLink" data-ajaxtarget="pagecontent" data-ajaxquerystr="page={{ env.getPageId() }}&amp;action=choose-sponsor&amp;id={{ sponsor.sponsor_id }}"><i class="icon-hand-right"></i> {{ i18n.getMessage("button_choose") }}</a></p>
								</td>
								<td>{{ sponsor.amount_match|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}</td>
								<td>{{ sponsor.amount_home_bonus|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}</td>
								<td>{{ sponsor.amount_win|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}</td>
								<td>{{ sponsor.amount_championship|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				{{ messagebox.box(i18n.getMessage("sponsor_no_offers"), "", "info") }}
			{% endif %}
		{% endif %}
	{% endif %}
{% endblock %}
{% endif %}