{% extends "base.twig" %}

{% import "messagebox.twig" as msgbox %}

{% block browser_title %}
{{ i18n.getMessage("home_title", env.getConfig("projectname")) }}
{% endblock %}

{% block page_header %}

<center><i class="fa-li fa fa-spinner fa-spin"></center>

{% if env.user.id == null %}

<br>
<div class="top_spoiler" style="color:white;border-style:solid;border-width:{{env.getConfig("spoiler_border")}}px;border-color:{{env.getConfig("spoiler_border_color")}};" >
<table cellpadding="25">
  <th>
	<h1><div style="color:{{ env.getConfig("spoiler_text_header_color") }}"> {{ env.getConfig("spoiler_text_header") }}</div></h1>
	<div style="color:{{ env.getConfig("spoiler_text_color") }}"> {{ env.getConfig("spoiler_text") }}</div>
	<div style="color:{{ env.getConfig("spoiler_text_2_color") }}"> {{ env.getConfig("spoiler_text_2") }}</div>
  </th>
  <th>
    	{% if env.getConfig("allow_userregistration") or env.getConfig("registration_url")|length > 0 %}
		{% set registerUrl = env.getInternalUrl("register") %}
		{% if env.getConfig("registration_url")|length > 0 %}
			{% set registerUrl = env.getConfig("registration_url") %}
		{% endif %}
		<div style="text-align:center;"><a href="{{ registerUrl }}" class="btn btn-large">{{ i18n.getMessage("home_teaser_link_register") }}</a></div>
	{% endif %}
  </th>
  <th>
  <FONT SIZE="-3">
  {{ constant('OPENWEBSOCCER_VERSION')}}<br>
  PHP  Version {{constant('PHP_VERSION')}}<br>
  Twig Version {{constant('Twig_Environment::VERSION')}}<br>
  Feataturing: Grav 0.9.45
  </FONT>
</th>
</table>
</div>

{% endif %}

<div id="messages">
{% if frontMessages is defined %}
	{% for message in frontMessages %}
		{{ msgbox.box(message.title, message.message, message.type) }}
	{% endfor %}
{% endif %}
</div>

<div class="row">

	<div class="span3">
		<div class="ajaxLoadedBlock" id="projectStatisticsBlock" data-ajaxblock="projectstatistics" data-ignoreemptymessages="true"  data-refreshperiod="30"></div>
		{{ viewHandler.renderBlock('news')|raw }}
	</div>

	<div class="span5">
		<div class="ajaxLoadedBlock" id="todaysmatchesBlock" data-ajaxblock="todaysmatches" data-ignoreemptymessages="true" data-refreshperiod="30"></div>
		<div class="ajaxLoadedBlock" id="latestResultsBlock" data-ajaxblock="latest-results-summary" data-ignoreemptymessages="true" data-refreshperiod="30"></div>
		{% if env.getConfig("hide_latestActivitiesBlock") != "1" %}
			  <div class="ajaxLoadedBlock" id="latestActivitiesBlock" data-ajaxblock="user-activities-all" data-ignoreemptymessages="true" data-refreshperiod="30"></div>
		{% endif %}
	</div>

	<div class="span3">
		{% if blocks.sidebar is defined %}
			{% for uiBlock in blocks.sidebar %}
				{{ viewHandler.renderBlock(uiBlock.id, uiBlock)|raw }}
			{% endfor %}
		{% endif %}
	</div>
</div>

{% if blocks.content_bottom is defined %}
	{% for uiBlock in blocks.content_bottom %}
		<div id="{{ uiBlock.id }}_block">
		{{ viewHandler.renderBlock(uiBlock.id, uiBlock)|raw }}
		</div>
	{% endfor %}
{% endif %}

{% endblock %}

{% block page_columns %}
{% endblock %}
