{#
*
* This file is part of OpenWebSoccer-Sim.
*
* OpenWebSoccer-Sim is free software: you can redistribute it
* and/or modify it under the terms of the
* GNU Lesser General Public License
* as published by the Free Software Foundation, either version 3 of
* the License, or any later version.
*
* OpenWebSoccer-Sim is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with OpenWebSoccer-Sim.
* If not, see <http://www.gnu.org/licenses/>.
*
* Author: Ingo Hofmann
* Base Version: OpenWebSoccer-Sim 5.2.4-Snapshot vom 21. Juni 2015
*
* This Version called "OpenWebsoccer" is a advanced modifikation
* by Rolf Joseph / ErdemCan 2015 - 2016
*
* For comparison of the code look at the original at
* https://github.com/ihofmann/open-websoccer
#}
{% if OPEN_WEBSOCCER is defined %}
{% if templates|length == 0 %}
	<p>{{ i18n.getMessage("formation_load_from_template_none_available") }}</p>
{% else %}
	<table class="table table-striped">
		<tbody>
			{% for template in templates %}
				<tr>
					<td>{{ env.getFormattedDate(template.date) }}</td>
					<td><a href="{{ env.getInternalUrl("formation", "id=" ~ env.getRequestParameter("id") ~ "&templateid=" ~ template.id) }}">{{ template.templatename }}</a></td>
					<td><a href="#" class="darkIcon ajaxLink" data-ajaxblock="formation_templates" data-ajaxtarget="formation-templates-content" data-ajaxquerystr="action=remove-formation-template&templateid={{ template.id }}&id={{ env.getRequestParameter("id") }}"><i class="icon-trash"></i></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
{% endif %}
